# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Build & Distribution
dist/
build/
*.egg

# Tools & Linters
.ruff_cache/
.mypy_cache/
.black

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project Specific
*.zip
docs/latex/*.aux
docs/latex/*.bbl
docs/latex/*.blg
docs/latex/*.fdb_latexmk
docs/latex/*.fls
docs/latex/*.synctex.gz
docs/latex/*.log
docs/latex/*.out
docs/latex/*.toc

# Relazione
docs/latex/relazione.pdf
